<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title><style>
       form {
               padding: 30px;
               border: solid;
               max-width: 300px;
               max-height: 400px;
       }
       
    </style>
</head>
<body><center>
    <h1>LOGIN
    </h1><form method="POST">
    <lable for="">username:</lable><br>
    <input type="text" name="username"><br>
    <lable for="">password:</lable><br>
    <input type="password" name="password"><br><br>
    <button type="login">login</button>
</form>
</center>
    
</body>
</html>           