<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    
    form{ padding: 50px;
        border:solid;
        
        max-width: 300PX; 
    }
    h1 {
        color: aqua;
    }
    lable { color: aquamarine;

    }
    </style>
</head>
<body><center><h1>REGISTRATION</h1>
    <form method="POST">
        <lable for="">username:</lable><br>
        <input type="text" name="username" id="username" placeholder="username" required><br>
        <lable for="">mobile number:</lable><br>
        <input type="text" name="mobile" id="mobile"  placeholder="mobile" required><br>
        <lable for="">email id:</lable><br>
        <input type="email" name="email" id="email" placeholder="email" required><br>
        <lable for ="">address:</lable><br>
        <input type="text" name="address" id="address" placeholder="address" required><br>
        <lable for ="">password</lable><br>
        <input type="password" name="password" id="password" placeholder="password" required><br><br>
        <button type="submit">submit</button>
        </form></center>
</body>
</html>